* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: rgb(1, 0, 19);
  background: linear-gradient(
    90deg,
    rgba(1, 0, 19, 1) 0%,
    rgba(7, 2, 37, 1) 37%,
    rgba(47, 3, 44, 1) 100%
  );
}
.card {
  height: 40vh;
  width: 40em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card h3 {
  color: gray;
  font-family: system-ui;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
button {
  padding: 6px 18px;
  border: 2px solid #2196f3;
  cursor: pointer;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 3px;

  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  background: transparent;
  border-radius: 50px;
}
button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  /* transition-delay: 1s; */
}

@media only screen and (max-width: 680px){
    .card{
        width: 25em;
    }
}